/* NavBar Styling */
.ui.menu:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

/* Jumbotron/Message styling */
.ui.message.message-container {
    text-align: center;
    padding: 50px;
    box-shadow: 0;
    margin: 0;
}

.form-container{
    /* min-height: 400px; */
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

.ui.pointingMssg.pointingMssg{
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}